.containerNavar {
  position: fixed;
  top: 40%;
  left: 20px;
  width: 60px;
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: rgba(0, 0, 0, 0.125);
  box-shadow: 0px 4px 13px 5px rgba(0, 0, 0, 0.766);
  backdrop-filter: blur(5px);
}

.containerNavar img {
  width: 35px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  transition: all 200ms;
}

.containerNavar img:hover {
  transform: scale(1.4);
  filter: invert(100%);
  border-radius: 10px;
}
